{% extends "base.html" %}
{% block title %}免费ShadowSocks帐号分享{% endblock %}

{% block content %}

<h1>
      全部SS帐号信息（不能保证全都能用）
</h1>

<a href='/'>返回主页</a><br>

<h2>Notice</h2>
<p>
  Please use ShadowSocksR Client or some of these may not work.<a href="/html/clients.html" target="_blank">Clients </a><br>
  <a href="/html/notes.html" target="_blank">notes</a>
</p>
</div>
<fieldset>

  <legend><strong>SS Server info</strong></legend>
  {% for server in servers %}
    <p>
      Please support the prvider of these servers：<a target="_blank" href="{{server['info']['url']}}">{{server['info']['name']}}</a><br>
      <font style="color:#E13C19">服务器通知：<br>{{server['info']['message']}}</font>
      <br>
      <ol>
      {%set outer_loop = loop%}
      {% for s in server['data'] %}
        <li> <a target="_blank" href="/{{outer_loop.index0}}-{{loop.index0}}"> {{s['remarks']}}</a> </li>
      {% endfor %}
      </ol>
    </p>
  {% endfor %}
  Full SSR RSS：<a target="_blank" href="/full/subscribe">link </a><br>
  全部JSON格式帐号的订阅地址（每次随机从库中抽取一条json返回）：<a target="_blank" href="/full/json">link </a>
</fieldset>
{% endblock %}
